asgiref==3.2.10
boto3==1.16.4
botocore==1.19.4
certifi==2020.6.20
Django==3.1.2
django-crispy-forms==1.9.2
django-localflavor==3.0.1
django-storages==1.10.1
gunicorn==20.0.4
jmespath==0.10.0
Pillow==8.0.1
python-dateutil==2.8.1
python-stdnum==1.14
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
